In [11]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

my_string = "This is a string"

my_list = [1,2,3,4,5]

my_float = 3.14

my_tuple = (1,2,3,4,5)

In [18]:
 #Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.

# What will be the data type of the above given variable.

#Answer
#1. var1 = ‘ ‘: This variable is a string containing a single space character. It’s not an empty string, but rather a string with a space.

#2. var2 = ‘[ DS , ML , Python]’: This variable is a string that visually resembles a list, but it’s actually just a string representation of that list. It contains the text [ DS , ML , Python], including the brackets and commas.

#3. var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]: This variable is a list of strings. It contains three elements: 'DS', 'ML', and 'Python'.

#4. var4 = 1.: This variable is a float with the value 1.0.

In [20]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

#Answer
#(i)Division operator
result=10/3
print(result)

3.3333333333333335

In [23]:
#(ii)Modulus operator
remainder=10%3
print(remainder)

1

In [26]:
#(iii)Floor division operator
floored_result=10//3
print(floored_result)

3

In [28]:
#(iv)Exponentiation operator
power=2**3
print(power)

8

In [34]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

#Answer
data_list = [
    42,                 # Integer
    3.14,               # Float
    'hello',            # String
    True,               # Boolean
    [1, 2, 3],          # List
    {'key': 'value'},   # Dictionary
    (1, 2, 3),          # Tuple
    None,               # NoneType
    complex(1, 2),      # Complex number
    bytearray(b'abc')   # Bytearray
]

# Use a for loop to print each element and its data type
for element in data_list:
    print(f'Element: {element}, Type: {type(element)}')

Element: 42, Type: <class 'int'>
Element: 3.14, Type: <class 'float'>
Element: hello, Type: <class 'str'>
Element: True, Type: <class 'bool'>
Element: [1, 2, 3], Type: <class 'list'>
Element: {'key': 'value'}, Type: <class 'dict'>
Element: (1, 2, 3), Type: <class 'tuple'>
Element: None, Type: <class 'NoneType'>
Element: (1+2j), Type: <class 'complex'>
Element: bytearray(b'abc'), Type: <class 'bytearray'>

In [36]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

#Answer
# Define the numbers A and B
A = 100  # Example value for A
B = 5    # Example value for B

# Check if B is zero to avoid division by zero
if B == 0:
    print("Division by zero is not allowed.")
else:
    # Initialize the count of divisions
    count = 0

    # Use a while loop to check divisibility
    while A % B == 0:
        # Divide A by B
        A = A // B
        # Increment the count
        count += 1

    # Print the result
    print(f'The number can be divided by {B} a total of {count} times.')

The number can be divided by 5 a total of 2 times.

In [38]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

#Answer
# Create a list of 25 integer elements
int_list = [i for i in range(1, 26)]  # This creates a list with integers from 1 to 25

# Iterate over each element in the list
for element in int_list:
    # Check if the element is divisible by 3
    if element % 3 == 0:
        print(f'{element} is divisible by 3.')
    else:
        print(f'{element} is not divisible by 3.')

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

In [40]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

#Answer
"""
Mutable Data Types
Definition: Mutable data types are those whose values can be changed after they are created. This means that you can modify an object’s content without changing its identity.

Examples:
Lists:
"""
my_list = [1, 2, 3]
print("Original list:", my_list)

my_list[0] = 10  # Modify an element
print("Modified list:", my_list)

my_list.append(4)  # Add an element
print("List after appending:", my_list)

Original list: [1, 2, 3]
Modified list: [10, 2, 3]
List after appending: [10, 2, 3, 4]

In [42]:
#Dictionaries:
my_dict = {'a': 1, 'b': 2}
print("Original dictionary:", my_dict)

my_dict['a'] = 10  # Modify a value
print("Modified dictionary:", my_dict)

my_dict['c'] = 3  # Add a new key-value pair
print("Dictionary after adding a new pair:", my_dict)

Original dictionary: {'a': 1, 'b': 2}
Modified dictionary: {'a': 10, 'b': 2}
Dictionary after adding a new pair: {'a': 10, 'b': 2, 'c': 3}

In [44]:
"""
Immutable Data Types
Definition: Immutable data types are those whose values cannot be changed after they are created. Any modification creates a new object rather than altering the original object.

Examples:
Tuples:
"""
my_tuple = (1, 2, 3)
print("Original tuple:", my_tuple)

# Trying to modify a tuple element will raise an error
try:
    my_tuple[0] = 10
except TypeError as e:
    print("Error:", e)

# Tuples themselves cannot be changed, but you can create a new tuple
new_tuple = my_tuple + (4,)
print("New tuple:", new_tuple)

Original tuple: (1, 2, 3)
Error: 'tuple' object does not support item assignment
New tuple: (1, 2, 3, 4)

In [45]:
#Strings:
my_string = "hello"
print("Original string:", my_string)

# Trying to modify a string element will raise an error
try:
    my_string[0] = 'H'
except TypeError as e:
    print("Error:", e)

# Creating a new string with a modification
new_string = 'H' + my_string[1:]
print("New string:", new_string)

Original string: hello
Error: 'str' object does not support item assignment
New string: Hello